$font-helvetica45: "HelveticaNeueW01-45Ligh", "HelveticaNeueW02-45Ligh", "HelveticaNeueW10-45Ligh", sans-serif;
$font-helvetica55: "HelveticaNeueW01-55Roma", "HelveticaNeueW02-55Roma", "HelveticaNeueW10-55Roma", sans-serif;
$font-helvetica65: "HelveticaNeueW01-65Medi", "HelveticaNeueW02-65Medi", "HelveticaNeueW10-65Medi", sans-serif;
$font-helvetica75: "HelveticaNeueW01-75Bold", "HelveticaNeueW02-75Bold", "HelveticaNeueW10-75Bold", sans-serif;

.container {
  margin: auto;
  width: 100%;
}

.hero-unit {
  position: absolute;
  width: 300px;
  font-family: $font-helvetica55;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-family: $font-helvetica75;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

button {
  width: 30px;
  height: 30px;
  margin: 2px;
}

button:focus {
  outline:0;
}

button.flagged {
  background-image: url('../images/flag_icon.jpeg');
  background-size: 100%;
}

button.show_mine {
  background-image: url('../images/mine.jpeg');
  background-size: 100%;
}

div.show_number {
  color: black;
}

div.hide_number {
  color: transparent;
}

html {
  background: url('../images/bg_mage.jpeg') no-repeat center center fixed;
  background-size: cover;
}

fieldset.form-group {
  display: inline-block;
}

div.ms-board-container {
  margin-top: 30px;
}

div.ms-form-wrapper {
  background-color: rgba(245, 241, 218, 0.5);
  border: 3px solid #1d9fb0;
  border-radius: 10px;
  text-align: center;
}

.form-group {
  border: none;
}

.ms-container {
  text-align: center;
}

fieldset label {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  font-size: 18px;
}

input.ms-form-button {
  width: 4em;
  font-size: 2em;
}

input.ms-form-control {
  text-align: center;
}

h1 {
  font-family: fantasy;
  color: rgba(189, 255, 89, 0.82);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
fieldset {
  padding-top: 10px;
}
//
//.ms-boom {
//  height: 100%;
//  width: 100%;
//  transition: ;
//}