<div ng-init="name = 'danny'" right-click="name = 'moshe'">{{name}}</div>
<div ng-controller = "GameController as gameCtrl">
<div ng-include = "'views/game-header.html'"></div>
<div ng-include = "'views/board.html'"></div>
</div>